name: Workflow to deploy DE

on:
  workflow_dispatch:
  repository_dispatch:
    types: [deploy-de]

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Checkout and clone branch
        run: |
          git checkout -b ${{ github.event.client_payload.branch_name }}
          git clone -b ${{ github.event.client_payload.branch_name }} ${{ secrets.FE_REPO }}
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/*
          github-token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
          repository: lloydamt/suggestions-frontend
          run-id: ${{ github.event.client_payload.run_id }}
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Run Terraform
        run: |
          ls
          terraform init
          terraform validate
          terraform apply -lock=false -var="bucket_name=${{ github.run_id }}" -var="access_key=${{ secrets.AWS_ACCESS_KEY_ID }}" -var="secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" --auto-approve
