name: Workflow to deploy DE

on:
  repository_dispatch:
    types: [dispatch-event]

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - name: event received
        run: echo "${{ github.event.client_payload.branch_name }}"
