name: Workflow to deploy DE

on:
  workflow_dispatch:
  repository_dispatch:
    types: [deploy-de]

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up node/npm
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Checkout and clone branch
        run: |
          git checkout -b ${{ github.event.client_payload.branch_name }}
          git clone -b ${{ github.event.client_payload.branch_name }} ${{ secrets.FE_REPO }}
          cd suggestions-frontend
          npm i
          npm run build
          mv dist ../dist
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Run Terraform
        run: |
          branch=$(echo "${{ github.event.client_payload.branch_name }}" | sed 's#/#_#')
          terraform init
          terraform validate
          terraform apply -lock=false -var="bucket_name=$branch" -var="access_key=${{ secrets.AWS_ACCESS_KEY_ID }}" -var="secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" --auto-approve
